.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.no-outline:focus {
  outline: 0;
  border: none;
  box-sizing: none;
}

.bg-sidebar-divs {
  background-color: rgb(41, 40, 40);
}

.bg-sidebar {
  background-color: #222;
}

#accounts-container {
  width: calc (100vw - 65px);
  height: fit-content;
  margin-left: 3px;
  padding: 10px 2vh 2vh 10vh;
  background-color: whitesmoke;
}
