/* flex */
.d-flex {
  display: flex !important;
}
.d-inline-flex {
  display: inline-flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-grow1 {
  flex-grow: 1 !important;
}
.flex-column {
  flex-direction: column;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap !important;
}
.justify-content-start {
  justify-content: start;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}
.align-self-center {
  align-self: center;
}
.justify-self-start {
  justify-self: start;
}
.justify-self-end {
  justify-self: end;
}
.justify-self-center {
  justify-self: center;
}
.flex-auto {
  flex: auto;
}
